<footer class="page-footer font-small blue pt-5 bg-light text-dark pl-5 pr-5" style="margin-top: 5%;">
    <div class="container-fluid text-center text-md-left">
       <div class="row">
 
 
          <div class="col-md-3 mt-md-0 mt-3">
             <h5 class="text-uppercase">RADNO VREME</h5>
             <ul class="list-unstyled">
                <li>Radni dani: 08h - 22h</li>
                <li>Subota: 08h - 18h</li>
                <li>Nedelja: neradan dan</li>
             </ul>
          </div>
 
 
          <div class="col-md-3 mt-md-0 mt-3">
             <h5 class="text-uppercase">CALL CENTAR</h5>
             <ul class="list-unstyled">
                <li>0800 05 03 53 (samo putem fiksne mreže)</li>
                <li>065 864 55 87</li>
             </ul>
          </div>
 
          <div class="col-md-3 mt-md-0 mt-3">
             <h5 class="text-uppercase">REKLAMACIJE</h5>
             <ul class="list-unstyled">
                <li>Radnim danima: 08h - 20h</li>
                <li>Subota: 08h - 18h</li>
                <li>020 533 206</li>
             </ul>
          </div>
 
          <div class="col-md-3 mt-md-0 mt-3 ">
             <h5 class="text-uppercase">PRATITE NAS</h5>
             <table class="ml-md-0 mr-md-0 ml-auto mr-auto">
                <tr>
                   <td>
                    <li class="list-inline-item border-0"><fa-icon [icon]="instagram"></fa-icon></li>
                   </td>
                   <td align="left">
                      Instagram
                   </td>
                </tr>
                <tr>
                   <td>
                    <li class="list-inline-item border-0"><fa-icon [icon]="facebook"></fa-icon></li>
                   </td>
                   <td align="left">
                      Facebook
                   </td>
                </tr>
                <tr>
                   <td>
                    <li class="list-inline-item border-0"><fa-icon [icon]="twitter"></fa-icon></li>
                   </td>
                   <td align="left">
                      Twitter
                   </td>
                </tr>
             </table>
 
          </div>
 
 
       </div>
    </div>
 
    <div class="footer-copyright text-center py-3">© 2020 Copyright: Aleksandar Milanović</div>
 
 </footer>