<div class="container-fluid text-center d-none d-lg-block">
    <div class="row">
      <div class="col-10 mx-auto col-lg-2">
        <p class="text-uppercase">artikli</p>
      </div>
      <div class="col-10 mx-auto col-lg-2">
        <p class="text-uppercase">naziv artikla</p>
      </div>
      <div class="col-10 mx-auto col-lg-2">
        <p class="text-uppercase">cena</p>
      </div>
      <div class="col-10 mx-auto col-lg-2">
        <p class="text-uppercase">količina</p>
      </div>
      <div class="col-10 mx-auto col-lg-2">
        <p class="text-uppercase">ukloni</p>
      </div>
      <div class="col-10 mx-auto col-lg-2">
        <p class="text-uppercase">ukupno</p>
      </div>
    </div>
  </div>
