<div class="row my-1 text-capitalize text-center">
    <div class="col-10 mx-auto col-lg-2">
      <img
        [src]="item.img"
        style="width: 5rem; height:5rem;"
        class="img-fluid"
        alt=""
      />
    </div>
    <div class="col-10 mx-auto col-lg-2 ">
      <span class="d-lg-none">artikal :</span> {{item.productName}}
    </div>
    <div class="col-10 mx-auto col-lg-2 ">
      <strong>
        <span class="d-lg-none">cena :</span> {{item.price}} RSD
      </strong>
    </div>
    <div class="col-10 mx-auto col-lg-2 my-2 my-lg-0 ">
      <div class="d-flex justify-content-center">
        <div>
          <span
            class="btn btn-black mx-1"
            (click)="onDecrease(item)"
          >
            -
          </span>
          <span class="btn btn-black mx-1">{{item.qty}}</span>
          <span
            class="btn btn-black mx-1"
            (click)="onIncrease(item)"
            >
            +
          </span>
        </div>
      </div>
    </div>
    <div class="col-10 mx-auto col-lg-2 ">
      <div class="trash-icon">
        <fa-icon [icon]="faTrash" style="font-size: 100%;" (click)="onRemove(item)"></fa-icon>
      </div>
    </div>

    <div class="col-10 mx-auto col-lg-2">
      <strong>{{item.totalItem}} RSD</strong>
  </div>
  </div>
